<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - cv08</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/cv08.styles.css" asp-append-version="true"/>
</head>
<body>
<ul>
    Number of items in cart: @ViewBag.ProductCount
    <li>
        <a href="@Url.Action("Index", "Home")">Úvodní stránka</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Eshop")">E-shop</a>
    </li>
</ul>
@RenderBody()
</body>
</html>